<!-- partials/header.html -->
<div id="main-nav-bar" class="header">
  <div class="container header-inner">
    <a id="headbrand"  href="/index.html">
	<div class="brand">
      <img src="assets/images/logo.png" alt="Warm Right Logo">
      <div>
        <div class="title">Warm Right Ltd</div>
        <div class="sub">Gas • LPG • Oil</div>
		
      </div>
	  <div class="brand-separator"></div>
    </div>
	</a>
    <nav class="nav">
      <a href="/index.html">Home</a>
      <a href="/about.html">About Us</a>

      <!-- Services Dropdown -->
      <div class="dropdown">
        <a href="#" data-section="services">Services</a>
        <div class="dropdown-menu">
          <a href="/services/breakdowns.html">Breakdowns</a>
          <a href="/services/repairs.html">Repairs</a>
          <a href="/services/annual-servicing.html">Annual Servicing</a>
          <a href="/services/landlords-certificates.html">Landlord's Certificates (CP12)</a>
          <a href="/services/boiler-installation.html">Boiler Installations</a>
          <a href="/services/general-maintenance.html">Plumbing</a>
          <a href="/services/homebuyers-reports.html">Homebuyer's Reports</a>
          <a href="/services/kitchens-bathrooms.html">Kitchens & Bathrooms</a>
          <a href="/services/powerflushing-descaling.html">Powerflushing and Descaling</a>
          <a href="/services/second-opinion.html">Second Opinions</a>
          <a href="/services/unvented-cylinders.html">Unvented Cylinders</a>
        </div>
      </div>

      <!-- Support Dropdown -->
      <div class="dropdown">
        <a href="#" data-section="support" >Support</a>
        <div class="dropdown-menu">
          <a href="/support/common-faults.html">Common Faults</a>
		  <a href="/support/manuals.html">Boiler Manuals</a>
          <a href="/support/energy-efficiency.html">Energy Efficiency</a>
          <a href="/support/engineers.html">Engineer's Support</a>
        </div>
      </div>
	  
      <a href="/schedule-of-rates.html">Our Rates</a>
      <a href="/offers.html">Offers</a>
      <a href="/testimonals.html">Testimonials</a>
      <a href="/book-a-visit.html">Book A Visit</a>
	  <a href="/contact.html">Contact Us</a>
    </nav>
  </div>
  
</div>




  <!-- Mobile Nav -->
  
  
  
  <div id="mobile-nav-bar">
  <div class="mobile-bar-contents">
    <button class="menu-toggle" aria-label="Toggle menu">
      <span class="hamburger-wrapper">
        <span class="hamburger-icon"></span>
      </span>
    </button>

    <div class="mobile-brand-wrapper">
      <span>Warm Right Ltd</span>
      <img src="assets/images/logo.png" alt="Warm Right Logo">
    </div>
  </div>

  <div class="nav-overlay"></div>
  <div class="mobile-nav">
  <div class="mobile-item"><a href="/index.html">Home</a></div>
    <div class="mobile-item"><a href="/about.html">About Us</a></div>

    <!-- Services Mobile Dropdown -->
    <div class="mobile-item">
      <button class="mobile-dropdown-button" data-section="services" href="#">Services</button>
      <div class="mobile-dropdown-menu">
         <a href="/services/breakdowns.html">Breakdowns</a>
          <a href="/services/repairs.html">Repairs</a>
          <a href="/services/annual-servicing.html">Annual Servicing</a>
          <a href="/services/landlords-certificates.html">Landlord's Certificates (CP12)</a>
          <a href="/services/boiler-installation.html">Boiler Installations</a>
          <a href="/services/general-maintenance.html">Plumbing</a>
          <a href="/services/homebuyers-reports.html">Homebuyer's Reports</a>
          <a href="/services/kitchens-bathrooms.html">Kitchens & Bathrooms</a>
          <a href="/services/powerflushing-descaling.html">Powerflushing and Descaling</a>
          <a href="/services/second-opinion.html">Second Opinions</a>
          <a href="/services/unvented-cylinders.html">Unvented Cylinders</a>
        </div>
    </div>

    <!-- Support Mobile Dropdown -->
    <div class="mobile-item">
      <button class="mobile-dropdown-button" data-section="support" href="#">Support</button>
      <div class="mobile-dropdown-menu">
        <a href="/support/common-faults.html">Common Faults</a>
		<a href="/support/manuals.html">Boiler Manuals</a>
        <a href="/support/energy-efficiency.html">Energy Efficiency</a>
        <a href="/support/engineers.html">Engineer's Support</a>
      </div>
    </div>
	
    <div class="mobile-item"><a href="/schedule-of-rates.html">Our Rates</a></div>
    <div class="mobile-item"><a href="/offers.html">Offers</a></div>
    <div class="mobile-item"><a href="/testimonals.html">Testimonials</a></div>
    <div class="mobile-item"><a href="/book-a-visit.html">Book A Visit</a></div>
	<div class="mobile-item"><a href="/contact.html">Contact Us</a></div>
    <div class="mobile-item">
       <button class="call-btn mobile-call-btn" id="mobile-call-btn">
          📞 Call Us
       </button>
     </div>
</div>
  </div>
